body {
    font-family: Poppins, sans-serif;
    background-color: #FFD1DA;
    margin: 0;
    padding: 0;
}

audio {
    display: none;
}

header {
    background-color: #FBA1B7;
    padding: 5px;
    text-align: center;
}

.card {
    background-color: #FFF0F5;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    margin: 30px auto;
}

.image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

button {
    display: block;
    margin: 30px auto;
    padding: 10px 20px;
    background-color: #FFDBAA;
    color: #000;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

button:hover {
    background-color: #FBA1B7;
}

h2 {
    text-align: center;
}

#response {
    display: none;
    margin-top: 50px;
    padding: 10px;
    background-color: #FBA1B7;
}

#comment {
    display: block;
    margin: 30px auto -10px;
    width: 650px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

#wa {
    display: block;
    width: 200px;
    text-align: center;
    margin: 30px auto;
    padding: 10px 20px;
    background-color: #4caf50;
    color: #FFF0F5;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-decoration: none;
}

#wa:hover {
    background-color: #348538;
}

#comments {
    font-size: 20pt;
    margin-top: 100px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;

}
